<div class="w3-top w3-bar w3-wide w3-padding w3-card w3-teal">
  <a onClick="newpath()" class="w3-bar-item w3-button w3-round-large w3-hover-sand"
    ><b>Gen</b> erating <span>|password|</span>
  </a>
  <!-- Float links to the right. Hide them on small screens -->
  <div class="w3-right">
    <!-- New data -->
    <a href="#" class="w3-bar-item w3-button w3-round-large w3-hover-sand">Password generator</a>
  </div>
</div>
<script>
  function newpath() {
    window.open("https://www.npmjs.com/package/generate-password");
  }
</script>
