.block_length_42 {
  width: 42rem;
}

.form_margin {
  margin: 1rem 0;
}

.apply_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3% 8%;
}
.apply_flex_checkbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 38%;
}
.clipboard_location{
  position: absolute;
  top: 0.6rem;
  right: 1rem;
}
